
*.sln
*.user
*.tlog
data_mining/apriori/.vs/apriori/v16/.suo
data_mining/apriori/.vs/apriori/v16/Browse.VC.db
*.db-shm
*.opendb
*.idb
*.pdb
*.exe
*.ilk
*.ipch
*.db-wal
*.vcxproj
*.filters
*.recipe
*.obj
*.log

*.enc
